Repository Requisitos-de-Software/2021.2-PontoFacil, pull requests merged in 2022-02, with the labels that each got.

#17 #14 Adicionado documento de brainstorming
  docs/assets/imagens/brainstorming.PNG
  docs/elicitacao/tecnicas/brainstorming.md
  mkdocs.yml
Labels: Elicitação

#19 Correçao RichPicture
  docs/pre_rastreabilidade/rich_pictures.md
Labels: Documentação

#18 Foi criada a aba de Observação
  docs/elicitacao/tecnicas/Observaçao.md
Labels: Documentação, Elicitação

#21 Foram corrigidos os requisitos encontrados
  docs/elicitacao/tecnicas/observacao.md
Labels: Elicitação
